@import "_normalize";
@import "_variables";

/* O sobie */
.about {
  &__header {
    background: $gray;
    text-align: center;
  }
  &__picture {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
  }
  &__paragraph {
    font-size: 24px;
    text-align: justify;
  }
  &__paragraph--mini {
    color: #d33c49;
    text-align: center;
    font-size: 18px;
  }
  &__paragraph--js {
    color: #5f758e;
    text-align: center;
    font-size: 18px;
  }
  &__link {
    color: #2978a0;
    text-decoration: none;
  }
  &__grid {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-column-gap: 8px;
  }
  @media (max-width: $mobile) {
    .about__header {
      font-size: 20px;
    }
    .about__paragraph {
      font-size: 18px;
    }
  }
  @media (max-width: 550px) {
    .about__grid {
      grid-template-columns: 1fr;
    }
  }
}

/* body */
body {
  background: $backgroundBody;
}
@media (max-width: 320px) {
  body {
    background: #dae5e8;
  }
}

/* Pamietniczek */
.diary {
  clear: both;
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
  &__header {
    background: $gray;
    text-align: center;
  }
  &__day {
  }
  &__dayTitle {
    color: black;
    font-size: 20px;
    font-style: italic;
    padding: 0 0 0 16px;
  }
  &__dayParagraph {
    color: black;
    padding: 0 24px 8px 24px;
    font-size: 18px;
    text-align: justify;
  }
  &__dayLink {
    color: #2978a0;
    text-decoration: none;
  }
  @media (max-width: $mobile) {
    .diary__header {
      font-size: 20px;
    }
    .diary__dayTitle {
      font-size: 18px;
    }
    .diary__dayParagraph {
      font-size: 16px;
    }
  }
  @media (max-width: 550px) {
    .diary__grid {
      grid-template-columns: 1fr;
    }
  }
}
/* footer*/

.footer {
  &__header {
    text-align: center;
    font-size: 20px;
    font-style: italic;
  }
  &__topmenu {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: #2978a0;
    text-decoration: none;
  }
  @media (max-width: $mobile) {
    .footer__header {
      font-size: 18px;
    }
  }
}

/*formularze*/

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__fieldset {
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  &__header {
    margin: 0px 0px;
  }
}

/* Main */
.main {
  max-width: 1080px;
  width: 100%;
  margin: 32px auto;
  padding-top: 24px;

  &__paragraph {
    text-indent: 30px;
  }
  &__footer {
    text-align: right;
    padding: 10px 0px;
  }
  &__header {
    color: #070707;
    text-align: center;
    background: #a4b8c4;
  }
  &__header--mainpage {
    background-image: url("../assets/img/widoczek.jpg");
    width: 100%;
    max-width: 1080px;
    background-clip: padding-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 3px 2px rgb(31, 32, 34);
  }
  &__img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 5px 3px;
    margin-left: auto;
    margin-right: auto;
  }
  &__link {
    color: #2978a0;
    text-decoration: none;
  }
  &__paragraph {
    text-indent: 30px;
  }
  @media (max-width: $mobile) {
    .main__header {
      font-size: 24px;
    }
  }
}

/*glowny naglowek- Nawigacja*/

.siteHeader {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 5px;
  background: #a2b2b5;
  min-height: 60px;
  &__navigation {
  }
  &__navList {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    padding-left: 0px;
  }
  &__navLink {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  }
  &__navItem {
    display: block;
    size: 180px;
    margin: 0 10px;
  }
  @media (min-width: 723px) {
    .siteHeader__navSwitcher {
      display: none;
    }
  }
  @media (max-width: $mobile) {
    .siteHeader__navList {
      flex-direction: column;
      display: none;
    }
    .siteHeader__navList--visible {
      display: flex;
    }
    .siteHeader__navItem {
      margin: 16px;
    }
    .siteHeader__navSwitcher {
      border: none;
      background: none;
      position: absolute;
      right: 16px;
      top: 20px;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 400;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

